#### Database ####
mysql-connector-python==8.0.20

#### GRPC ####
protobuf==3.18.3
grpcio==1.28.1
grpcio-tools==1.28.1

#### API ####
tmdbv3api==1.5.1

#### Recommendations ####
pandas==1.0.3
scipy==1.4.1
scikit-learn==0.23.1
