#### Database ####
mysql-connector-python==8.0.19

#### GRPC ####
grpcio==1.29.0
grpcio-tools==1.29.0

#### API ####
tmdbv3api==1.5.1

#### Recommendations ####
pandas==1.0.3
scipy==1.4.1
scikit-learn==0.23.1
